.title {
	font-family: 'Altair-ThinTrial';
	text-align: center;
	font-size: 42;
	color: #FFFFFF;
}

.subtitle {
	text-align: center;
	margin-bottom: 50;
	font-size: 14;
	color: #FFFFFF;
}

.caption-button {
	font-family: 'Altair-BoldTrial';
	text-align: center;
	font-size: 18;
	color: #FFFFFF;
	margin-top: 10;
}

.footer {
	color: #FFFFFF;
	text-align: center;
	padding: 10;
}